[{:type "text", :id "minimumDepthInMeters"} ;;location
 {:type "text", :id "recordType"} ;; specimen
 {:type "text", :id "mineralComplex"} ;; history
 {:type "text", :id "verbatimLatitude"} ;; location
 {:type "text", :id "month"} ;; history
 {:type "text", :id "continent"} ;; locaiton
 {:type "text", :id "registeredWeight"} ;; specimen
 {:type "text", :id "collectionName"} ;; identification
 {:type "uuid", :id "occurrenceID"} ;; ??
 {:type "text", :id "family"} ;; relationship
 {:type "text", :id "latestEpochOrHighestSeries"} ;; history
 {:type "text", :id "texture"} ;; ??
 {:type "text", :id "recoveryWeight"} ;; specimen
 {:type "text", :id "maximumDepthInMeters"} ;; location
 {:type "text", :id "waterBody"} ;; ??
 {:type "nested", :id "determinations"} ;; ??
 {:type "text", :id "meteoriteGroup"} ;; specimen
 {:type "text", :id "kingdom"} ;; relationship
 {:type "float8", :id "decimalLatitude"} ;; location
 {:type "text", :id "earliestEraOrLowestErathem"} ;; history
 {:type "text", :id "identificationAsRegistered"} ;; ??
 {:type "text", :id "infraspecificEpithet"} ;; ??
 {:type "text", :id "plantDescription"} ;; specimen
 {:type "text", :id "lithostratigraphy"} ;; history
 {:type "text", :id "latestEraOrHighestErathem"} ;; history
 {:type "text", :id "recordNumber"} ;; identification
 {:type "text", :id "day"} ;; history
 {:type "text", :id "individualCount"} ;; specimen
 {:type "text", :id "donorName"} ;; identification
 {:type "text", :id "lifeStage"} ;; specimen
 {:type "text", :id "chondriteAchondrite"} ;; ??
 {:type "text", :id "viceCounty"} ;; location
 {:type "text", :id "scientificName"} ;; specimen
 {:type "text", :id "exsiccati"} ;; ??
 {:type "text", :id "tectonicProvince"} ;; location
 {:type "text", :id "lowestBiostratigraphicZone"} ;; location
 {:type "text", :id "occurrence"} ;; ??
 {:type "text", :id "habitat"} ;; location
 {:type "text", :id "identificationVariety"} ;; ??
 {:type "text", :id "setMark"} ;; ??
 {:type "text", :id "sex"} ;; specimen
 {:type "text", :id "scientificNameAuthorship"} ;; relationship
 {:type "text", :id "year"} ;; history
 {:type "text", :id "chronostratigraphy"} ;; history
 {:type "text", :id "eventHistory"} ;; ??
 {:type "text", :id "partType"} ;; ??
 {:type "text", :id "latestEonOrHighestEonothem"} ;; history
 {:type "text", :id "otherCatalogNumbers"} ;; identification
 {:type "text", :id "latestPeriodOrHighestSystem"} ;; history
 {:type "text", :id "exsiccatiNumber"} ;; ??
 {:type "bool", :id "centroid"} ;; ??
 {:type "text", :id "kindOfCollection"} ;; ??
 {:type "text", :id "specificEpithet"} ;; ??
 {:type "text", :id "dateRegistered"} ;; history
 {:type "text", :id "identificationOther"} ;; ??
 {:type "text", :id "geodeticDatum"} ;; history
 {:type "text", :id "barcode"} ;; identification
 {:type "text", :id "collectionCode"} ;; identifcation
 {:type "text", :id "higherGeography"} ;; location
 {:type "text", :id "latestAgeOrHighestStage"} ;; ??
 {:type "text", :id "determinationNames"} ;; ??
 {:type "text", :id "formation"} ;; history
 {:type "text", :id "earliestEpochOrLowestSeries"} ;; history
 {:type "text", :id "group"} ;; relationship
 {:type "text", :id "highestBiostratigraphicZone"} ;; history
 {:type "text", :id "petrologyType"} ;; history
 {:type "text", :id "earliestAgeOrLowestStage"} ;; ??
 {:type "text", :id "created"} ;; ??
 {:type "text", :id "island"} ;; location
 {:type "text", :id "meteoriteType"} ;; ??
 {:type "float8", :id "decimalLongitude"} ;; location
 {:type "text", :id "nestShape"} ;; ??
 {:type "text", :id "relationshipOfResource"} ;; ??
 {:type "text", :id "fieldNumber"} ;; specimen
 {:type "text", :id "genus"} ;; relationship
 {:type "text", :id "preparationType"} ;; specimen
 {:type "text", :id "clutchSize"} ;; specimen
 {:type "text", :id "associatedMedia"} ;; specimen
 {:type "text", :id "phylum"} ;; relationship
 {:type "text", :id "subDepartment"} ;; ??
 {:type "text", :id "cultivated"} ;; ??
 {:type "text", :id "vessel"} ;; specimen
 {:type "text", :id "hostRock"} ;; history
 {:type "text", :id "kindOfObject"} ;; specimen
 {:type "text", :id "higherClassification"} ;; relationship
 {:type "text", :id "ageType"} ;; history
 {:type "text", :id "islandGroup"} ;; location
 {:type "text", :id "identificationDescription"} ;; specimen
 {:type "text", :id "resuspendedIn"} ;; specimen
 {:type "text", :id "catalogNumber"} ;; specimen
 {:type "text", :id "verbatimLongitude"} ;; location
 {:type "text", :id "nestSite"} ;; specimen
 {:type "text", :id "miningDistrict"} ;; location
 {:type "text", :id "preparations"} ;; specimen
 {:type "text", :id "mine"} ;; locaiton
 {:type "text", :id "maximumElevationInMeters"} ;; location
 {:type "text", :id "relatedResourceID"} ;; specimen
 {:type "text", :id "determinationFiledAs"} ;; ??
 {:type "text", :id "earliestEonOrLowestEonothem"} ;; history
 {:type "text", :id "modified"} ;; ??
 {:type "text", :id "bed"} ;; ??
 {:type "text", :id "project"} ;; specimen
 {:type "text", :id "country"} ;; location
 {:type "text", :id "minimumElevationInMeters"} ;; location
 {:type "text", :id "totalVolume"} ;; specimen
 {:type "text", :id "maxError"} ;; ??
 {:type "text", :id "geologyRegion"} ;; history
 {:type "text", :id "subgenus"} ;; relationship
 {:type "text", :id "petrologySubtype"} ;; history
 {:type "text", :id "expedition"} ;; specimen
 {:type "text", :id "institutionCode"} ;; specimen
 {:type "text", :id "identificationQualifier"} ;; specimen
 {:type "text", :id "identifiedBy"} ;; specimen
 {:type "text", :id "earliestPeriodOrLowestSystem"} ;; ??
 {:type "text", :id "preservative"} ;; specimen
 {:type "text", :id "georeferenceProtocol"} ;; location
 {:type "text", :id "recovery"} ;; ??
 {:type "text", :id "locality"} ;; location
 {:type "text", :id "stateProvince"} ;; location
 {:type "text", :id "member"} ;; ??
 {:type "text", :id "populationCode"} ;; ??
 {:type "text", :id "taxonRank"} ;; relationship
 {:type "text", :id "catalogueDescription"} ;; specimen
 {:type "text", :id "depositType"} ;; history
 {:type "text", :id "recoveryDate"} ;; specimen
 {:type "text", :id "registeredWeightUnit"} ;; specimen
 {:type "text", :id "typeStatus"} ;; relationship
 {:type "text", :id "samplingProtocol"} ;; specimen
 {:type "text", :id "class"} ;; relationship
 {:type "text", :id "collectionKind"} ;; specimen
 {:type "text", :id "commodity"} ;; ??
 {:type "text", :id "age"} ;; specimen
 {:type "text", :id "basisOfRecord"} ;; ??
 {:type "text", :id "determinationTypes"} ;; ??
 {:type "text", :id "dateIdentified"} ;; specimen
 {:type "text", :id "observedWeight"} ;; specimen
 {:type "text", :id "registrationCode"} ;; specimen
 {:type "text", :id "recordedBy"} ;; specimen
 {:type "int4", :id "_id"} ;; specimen
 {:type "text", :id "extractionMethod"} ;; specimen
 {:type "text", :id "order"} ;; relationship
 {:type "text", :id "meteoriteClass"} ;; specimen
 {:type "text", :id "labelLocality"} ;; location
 {:type "citext", :id "gbifIssue"} ;; ??
 {:type "int4", :id "gbifID"}] ;; ??
